<div class="md-card-content">
    <div class="uk-overflow-container">
        <table class="uk-table uk-table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="/setting/archiveslist">Archives list</a></td>
                <td><a href="/setting/newarchive">New archive</a></td>
                <td><a href="/setting/configuration">Configuration</a></td>

            </tbody>
        </table>
    </div>
</div>