


<button class="md-btn uk-margin-bottom" data-uk-modal="{target:'#modal_default'}">FAQ</button>
<h4> Empty </h4>

<div class="uk-modal" id="modal_default">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div data-dynamic-fields="field_template_modal" dynamic-fields-counter="0">
            <div class="uk-grid form_section">
                <div class="uk-width-1-1">
                    <div class="uk-input-group">
                        <div class="md-input-wrapper"><label for="d_form_address__0">Address</label><input class="md-input" name="d_form_address__0" id="d_form_address__0" type="text"><span class="md-input-bar "></span></div>
                        
                        <span class="uk-input-group-addon">
                            <a href="#" class="btnSectionClone"><i class="material-icons md-24"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script id="field_template_modal" type="text/x-handlebars-template">
            <div class="uk-grid form_section">
                <div class="uk-width-1-1">
                    <div class="uk-input-group">
                        <label for="d_form_address{{counter}}">Address</label>
                        <input type="text" class="md-input" name="d_form_address{{counter}}" id="d_form_address{{counter}}">
                        <span class="uk-input-group-addon">
                            <a href="#" class="btnSectionClone"><i class="material-icons md-24">&#xE146;</i></a>
                        </span>
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>
<div class="md-card">
    <div class="md-card-content">
        <div data-dynamic-fields="field_template_b" dynamic-fields-counter="2">
            
        
            
        
            <div class="uk-grid form_section">
                <div class="uk-width-1-1">
                    <div class="uk-input-group">
                        <div class="md-input-wrapper"><label for="d_form_input__2">New Question</label><input class="md-input" name="d_form_input__2" id="d_form_input__2" type="text"><span class="md-input-bar "></span></div>
                        
                        <span class="uk-input-group-addon">
                            <a href="/faq/newans" class="btnSectionClone"><i class="material-icons md-24"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script id="field_template_b" type="text/x-handlebars-template">
            <div class="uk-grid form_section">
                <div class="uk-width-1-1">
                    <div class="uk-input-group">
                        <label for="d_form_input{{counter}}">New Question</label>
                        <input type="text" class="md-input" name="d_form_input{{counter}}" id="d_form_input{{counter}}">
                        <span class="uk-input-group-addon">
                            <a href="#" class="btnSectionClone"><i class="material-icons md-24">&#xE146;</i></a>
                        </span>
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>

