<div class="md-card">
    <div class="md-card-content">
        <form action="" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10" style="min-height: 274px;">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label> </label><textarea class="md-input" name="d_form_fname__0" required="" type="text" style="min-height: 100px;"></textarea></div>
                                
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Choose a language</label><br>
                                    <select id="select_demo_1" class="md-input">
                                        <option value="" disabled="" selected="" hidden="">eng</option>
                                            <option value="a1">dfs</option>
                                            <option value="b1">sfdf</option>
                                            <option value="b1">fdd</option>
                                            <option value="b1">dfs</option>
                                            <option value="b1">vbv</option>
                                            <option value="b1">fgd</option>
                                            <option value="b1">iui</option>
                                            <option value="b1">sfdf</option>
                                            <option value="b1">wewew</option>
                                            <option value="b1">fsf</option>
                                            <option value="b1">asd</option>
                                            <option value="b1">ghf</option>
                                            <option value="b1">dsfs</option>
                                            <option value="b1">sdfs</option>
                                            <option value="b1">lkj</option>
                                            <option value="b1">sfdf</option>
                                            <option value="b1">oiu</option>
                                            <option value="b1">sda</option>
                                            <option value="b1">sada</option>
                                            <option value="b1">dsds</option>
                                            <option value="b1">ksks</option>
                                            <option value="b1">ehehehe</option>
                                    </select><span class="md-input-bar "></span>                              </div>
                                </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                              <div data-uk-button-radio="{target:'.md-btn'}">
                                    <button class="md-btn md-btn-wave waves-effect waves-button" aria-checked="false">Detect Language</button>
                                    <button class="md-btn md-btn-wave waves-effect waves-button" aria-checked="false">Translate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                      <div class="uk-width-1-1">
                        <div class="icheckbox_md"><input name="checkbox_demo_mercury" id="checkbox_demo_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                        <label for="checkbox_demo_1" class="inline-label">Enable translation service</label>
                      </div>
                    </div>
            </div>
            <mat-tab-group>
              <mat-tab label= "Bing">
                  <div class="md-card">
                      <div class="md-card-content">
                          <form action="" data-parsley-validate="" novalidate="">
                              <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
                                <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                                  <div class="uk-width-9-10">
                                    <div class="uk-grid">
                                      <div class="uk-width-1-1">
                                        <div class="parsley-row">
                                            <span class="icheck-inline">
                                                <div class="iradio_md"><input name="radio_demo_inline" id="radio_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="radio"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                                <label for="radio_demo_inline_1" class="inline-label">Use Bing service</label>
                                            </span>
                                        </div>
                                      </div>
                                    </div>
                                  <div class="uk-grid">
                                      <div class="uk-width-1-1">
                                          <div class="parsley-row">
                                              <div class="md-input-wrapper"><label>Bing client ID</label><br>
                                              <input class="md-input" name="d_form_company__0" required="" type="text" ><span class="md-input-bar "></span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-grid">
                                      <div class="uk-width-1-1">
                                          <div class="parsley-row">
                                              <div class="md-input-wrapper"><label>Bing client secret, key is never shown for security purposes</label><br>
                                              <input class="md-input" name="d_form_company__0" required="" type="text" ><span class="md-input-bar "></span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-grid">
                                      <div class="uk-width-1-1">
                                          <div class="parsley-row">
                                              <div class="md-input-wrapper"><label>Bing access token expires</label><br>
                                              <input class="md-input" name="d_form_company__0" required="" type="text" value="17:45:08"><span class="md-input-bar "></span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-grid">
                                      <div class="uk-width-medium-1-6">
                                          <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" href="javascript:void(0)">Save</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                      </div>
                    </div>
              </mat-tab>
              <mat-tab label= "Group">
                  <div class="md-card">
                      <div class="md-card-content">
                          <form action="" data-parsley-validate="" novalidate="">
                              <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
                                <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                                  <div class="uk-width-9-10">
                                    <div class="uk-grid">
                                      <div class="uk-width-1-1">
                                        <div class="parsley-row">
                                            <span class="icheck-inline">
                                                <div class="iradio_md"><input name="radio_demo_inline" id="radio_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="radio"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                                <label for="radio_demo_inline_1" class="inline-label">Use Google service</label>
                                            </span>
                                        </div>
                                      </div>
                                    </div>
                                  <div class="uk-grid">
                                      <div class="uk-width-1-1">
                                          <div class="parsley-row">
                                              <div class="md-input-wrapper"><label>API key, key is never shown for security purposes</label><br>
                                              <input class="md-input" name="d_form_company__0" required="" type="text" ><span class="md-input-bar "></span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-grid">
                                      <div class="uk-width-1-1">
                                          <div class="parsley-row">
                                              <div class="md-input-wrapper"><label>Set referrer, usefull if want to limit calls to specific referrer.</label><br>
                                              <input class="md-input" name="d_form_company__0" required="" type="text" ><span class="md-input-bar "></span></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-grid">
                                      <div class="uk-width-medium-1-6">
                                          <a class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" href="javascript:void(0)">Save</a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                      </div>
                    </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        </form>
    </div>

</div>

