<div class="md-card">
<div class="md-card-content">
  <form action="" data-parsley-validate="" novalidate="">
      <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
      <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
          <div class="uk-width-9-10">
              <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                          <div class="md-input-wrapper"><label> <h2>Import theme</h2> </label><br>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                          <div class="md-input-wrapper"><label> <h5>File (json)</h5></label><br><br>
                            <div class="uk-form-file md-btn md-btn-primary">
                                Browse...
                                <input id="form-file" type="file">
                            </div>No file selected                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
      <div class="uk-grid uk-margin-medium-top">
          <div class="uk-width-1-1">
            <div data-uk-button-radio="{target:'.md-btn'}">
              <button class="md-btn md-btn-wave waves-effect waves-button">Import</button>
          </div>
        </div>
      </div>
  </form>
</div>
</div>               