<div class="md-card">
  <div class="md-card-content">
      <form action="" data-parsley-validate="" novalidate="">
          <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
          <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
              <div class="uk-width-9-10" style="min-height: 274px;">
                  
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                          <div class="parsley-row">
                              <div class="md-input-wrapper"><label><h1>Speech</h1></label><br><br>
                            </div>
                              
                          </div>
                      </div>
                  </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><a href="/setting/speechlang">Speech Language</a><br>
                          </div>
                            
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><a href="setting/languages">Languages</a><br>
                          </div>
                            
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><a href="/setting/dialects">Dialects</a><br>
                          </div>
                            
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
          
      </form>
      
  </div>
</div>