
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            Time zone settings
          </h3>
      </div>
      <div class="md-card-content large-padding">
          <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin="">
              <div class="uk-width-large-1-2 uk-row-first" style="background-color: white;margin-left: 20px; width: 100%;">
                <div class="uk-form-row">
                  <label for="product_edit_memory_control-selectized" class="uk-form-label">Set application specific time zone</label>
                  <select id="product_edit_memory_control" name="product_edit_memory_control" data-md-selectize="" tabindex="-1" style="display: none;" class="selectized"><option value="64gb" selected="selected"></option></select><div class="selectize-control single plugin-tooltip"><div class="selectize-input items full has-options has-items"><div class="item" data-value="64gb"></div><input autocomplete="off" tabindex="" id="product_edit_memory_control-selectized" style="width: 4px;" type="text"></div></div><div class="selectize_fix"></div>
                </div>
                  <div class="uk-form-row">
                      <div class="md-input-wrapper md-input-filled"><label for="product_edit_manufacturer_control">Date format E.g (Y-m-d)</label><input class="md-input" id="product_edit_manufacturer_control" name="product_edit_manufacturer_control" value="Samsung" type="text"><span class="md-input-bar "></span></div>
                      
                  </div>
                  <div class="uk-form-row">
                      <div class="md-input-wrapper md-input-filled"><label for="product_edit_sn_control">Full date format E.g (Y-m-d H:i:s)</label><input class="md-input" id="product_edit_sn_control" name="product_edit_sn_control" value="SM-G925TZKFTMB" type="text"><span class="md-input-bar "></span></div>
                      
                  </div>
                  <div class="uk-form-row">
                    <div class="md-input-wrapper md-input-filled"><label for="product_edit_sn_control">Hour format E.g (H:i:s)</label><input class="md-input" id="product_edit_sn_control" name="product_edit_sn_control" value="SM-G925TZKFTMB" type="text"><span class="md-input-bar "></span></div>
                    
                  </div>
               
                  
                  
                  
                  <div class="uk-width-medium-2-10 uk-row-first">
                    <a class="md-btn" href="#">Add option</a>
                </div>
                <div class="uk-width-medium-8-10">
                    &nbsp;
                </div>
            
                                    
                                    
              </div>
              
          </div>
      </div>
  