<div class="md-card">
    <div class="uk-overflow-container">
      
      <table class="uk-table uk-table-striped uk-table-hover">
          <h1>Department limit groups</h1><br><br>
          <thead>
              <tr>
                  <th>
                      <div class="md-list-content">
                          <span class="md-list-heading" style="font-size: large;font-family: bold;"> Group </span>
                      </div>
                  </th>
                
                  <th>
                      <div class="md-list-content">
                          <span class="md-list-heading" style="font-size: large;font-family: bold;"> </span>
                      </div>
                  </th>
                  <th>
                      <div class="md-list-content">
                          <span class="md-list-heading" style="font-size: large;font-family: bold;"> </span>
                      </div>
                  </th>
                  <th>
                      <div class="md-list-content">
                          <span class="md-list-heading" style="font-size: large;font-family: bold;"> </span>
                      </div>
                  </th>
              </tr>
            </thead>
          <tbody>
          <tr>
              <td>
                  <div class="md-list-content">
                      <span class="md-list-heading">support</span>
                  </div>
              </td>
              <td>
                  <div class="md-list-content">
                      <span class="md-list-heading"> </span>
                  </div>
              </td>
              <td>
                  <div class="md-list-content">
                      <span class="md-list-heading"><a class="md-btn md-btn-wave waves-effect waves-button" href="javascript:void(0)">Edit</a></span>
                  </div>
              </td>
              <td>
                  <div class="md-list-content">
                      <span class="md-list-heading"><a class="md-btn md-btn-wave waves-effect waves-button" href="javascript:void(0)">delete</a></span>
                  </div>
              </td>
          </tr>    
        </tbody>
      </table>
      <a class="md-btn md-btn-wave waves-effect waves-button" href="/setting/newlimit">New</a>
    </div>
    </div>