  <div class="md-card md-card-single main-print" id="invoice" style="opacity: 1; transform: scale(1);">
    <div id="invoice_preview">
<div class="md-card-toolbar">
<div class="md-card-toolbar-actions hidden-print">
<i class="md-icon material-icons" id="invoice_print"></i>
<div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right'}">
<i class="md-icon material-icons"></i>
<div class="uk-dropdown uk-dropdown-small">
<ul class="uk-nav">
    <li><a href="#">Archive</a></li>
    <li><a href="#" class="uk-text-danger">Remove</a></li>
</ul>
</div>
</div>
</div>
<h3 class="md-card-toolbar-heading-text large" id="invoice_name">
Chat List
</h3>
</div>
<div class="md-card-content invoice_content print_bg" >


<div class="uk-grid uk-margin-large-bottom">
<div class="uk-width-1-1">
<table class="uk-table">
    <thead>
            <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Nick</span><br>
                    </td>
                    <td>
                        <input type="text" class="md-input" />
                    </td>
                </tr>
                <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large">Email</span><br>
                        </td>
                        <td>
                            <input type="text" class="md-input" />
                        </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Department </span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>
                                
                    </td>
                </tr>
                <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large">Department Group</span><br>
                        </td>
                        <td>
                            <div>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>Select...</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>
                            </div>
                                    
                        </td>
                </tr>
                <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large">User</span><br>
                        </td>
                        <td>
                            <div>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>Select...</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>
                            </div>
                                    
                        </td>
                </tr>
                <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large">User Group</span><br>
                        </td>
                        <td>
                            <div>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>Select...</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>
                            </div>
                                    
                        </td>
                </tr>
                <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large">Date range from</span><br>
                        </td>
                        <td>
                            <input type="text" class="md-input" />
                        </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Hour and minute from</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Hour...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>minute...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>         
                    </td>
                </tr>
                <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large">Date range to</span><br>
                        </td>
                        <td>
                            <input type="text" class="md-input" />        
                        </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Hour and minute to</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>         
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Wait Time</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Hour...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>minute...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>         
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Vote Status</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>        
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Chat Status</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>        
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Product</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>        
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Chat ID</span><br>
                    </td>
                    <td>
                        <input type="text" class="md-input" />
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Chat duration</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>From...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Till...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>         
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Subject</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>        
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Productive invitation</span><br>
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>Select...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                        </div>        
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                        <span class="icheck-inline">
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                            <label for="checkbox_demo_inline_1" class="inline-label">Has unread messages</label>
                        </span>
                        <span class="icheck-inline">
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_venus" id="checkbox_demo_inline_2" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                            <label for="checkbox_demo_inline_2" class="inline-label">Unanswered chat</label>
                        </span>
                        <span class="icheck-inline">
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_earth" id="checkbox_demo_inline_3" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                            <label for="checkbox_demo_inline_3" class="inline-label">Anonymised</label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="md-btn-group" data-uk-button-radio="{target:'.md-btn'}">
                                <button class="md-btn md-btn-wave waves-effect waves-button" aria-checked="false">Search</button>
                                <button class="md-btn md-btn-wave waves-effect waves-button uk-active" aria-checked="true">Print</button>
                        </div> 
                    </td>
                    <td>
                        <div>
                            <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                <option value="" disabled selected hidden>XLS...</option>
                                <option value="a">Item A</option>
                                <option value="b">Item B</option>
                                <option value="c">Item C</option>
                            </select>
                            <button class="md-btn md-btn-wave waves-effect waves-button uk-active" aria-checked="true">Export</button>
                        </div>
                    </td>
                </tr>
    </thead>
</table>

</div>
</div>
<div class="uk-grid">
<div class="uk-width-1-1">

</div>
</div>
</div>
</div>
    <div id="invoice_form"></div>

</div>

<div class="md-card md-card-single main-print" id="invoice" style="opacity: 1; transform: scale(1);">
    <div id="invoice_preview">
        <div class="uk-overflow-container">
        <table class="uk-table uk-table-nowrap table_check">
            <thead>
            <tr>
                <th class="uk-width-1-10 uk-text-center small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_all" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></th>
                <th class="uk-width-1-10 uk-text-center">Information</th>
                <th class="uk-width-2-10"> </th>
                <th class="uk-width-2-10 uk-text-center">Opretor</th>
                <th class="uk-width-1-10 uk-text-center">Department</th>
                <th class="uk-width-1-10 uk-text-center">Status</th>
                <th class="uk-width-2-10 uk-text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_01_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Harrison&nbsp;Carrool]</a></span>
                    </td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge uk-badge-primary">New</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_02_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Alysa&nbsp;Watting]</a></span></td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge uk-badge-primary">New</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Human&nbsp;Mortal]</a></span></td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_04_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Swappaa&nbsp;Chillama]</a></span></td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge">Accepted</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_05_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Feasff&nbsp;Gasdecs]</a></span></td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge uk-badge-primary">New</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_06_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Dasris&nbsp;Watting]</a></span></td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge">Accepted</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_07_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Dasfdsgs&nbsp;Qvotrete]</a></span></td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge uk-badge-danger">Declined</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-center uk-table-middle small_col"><div class="icheckbox_md"><input data-md-icheck="" class="check_row" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                    <td class="uk-text-center"><img class="md-user-image" src="assets/img/avatars/avatar_08_tn.png" alt=""></td>
                    <td><span><a routerLink ="/chatlist/chattabinfo" class="__cf_email__" data-cfemail="3f5c535a525a514b56515e0b0f7f465e575050115c5052">[Wilhelm&nbsp;Sadfdgrg]</a></span></td>
                    <td class="uk-text-center">supriyashahane95@gmail.com</td>
                    <td class="uk-text-center">Support</td>
                    <td class="uk-text-center"><span class="uk-badge">Accepted</span></td>
                    <td class="uk-text-center">
                        <a href="#"><i class="md-icon material-icons"></i></a>
                        <a href="#"><i class="md-icon material-icons"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="uk-pagination uk-margin-medium-top">
        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        <li class="uk-active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><span>…</span></li>
        <li><a href="#">10</a></li>
        <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
    </ul>
    <div class="md-btn-group" data-uk-button-radio="{target:'.md-btn'}">
                    <button class="md-btn md-btn-wave waves-effect waves-button" aria-checked="false">Close Selected</button>
                    <button class="md-btn md-btn-wave waves-effect waves-button uk-active" aria-checked="true">Delete Selected</button>
    </div> 
    </div>
    </div>


