<div class="md-card">
  <div class="md-card-content">
      <form action="/setting/editgroup" data-parsley-validate="" novalidate="">
          <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
          <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
              <div class="uk-width-9-10" style="min-height: 274px;">
                  
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                          <div class="parsley-row">
                              <div>
                                  <h3> Group edit - Administrators </h3>
                              </div>                                
                          </div>
                      </div>
                  </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><label>Title</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                            
                        </div>
                    </div>
                  </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="parsley-row">
                            
                            <div class="dynamic_radio uk-margin-small-top">
                                <span class="icheck-inline">
                                    <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                    <label for="checkbox_demo_inline_1" class="inline-label">Disabled </label>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-2">
                      <div class="parsley-row">
                          
                          <div class="dynamic_radio uk-margin-small-top">
                              <span class="icheck-inline">
                                  <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                  <label for="checkbox_demo_inline_1" class="inline-label">Required </label>
                                </span>
                          </div>
                          <p> If group is required, at least one group of required groups has to be selected.</p>
                      </div>
                  </div>
              </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                          <div class="md-input-wrapper"><label>Member of this group can work with the following groups</label><br><textarea class="md-input" name="d_form_company__0" required="" type="text"></textarea></div>        
                      </div>
                    </div>
                  </div>
                  <div class="uk-grid uk-margin-medium-top">
                    <div class="uk-width-1-1">
                      <button type="submit" class="md-btn md-btn-primary">Update</button>
                    </div>
                  </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div>
                                <h3> Assigned users - Administrators </h3>
                            </div>                                
                        </div>
                    </div>
                </div>

              <table class="uk-table">
                <thead>
                    <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large"> </span><br>
                        </td>
                        <td>
                            <span class="uk-text-large">Username</span><br>
                        </td>
                        
                    
                        <td>
                            <div class="uk-grid uk-margin-medium-top">
                                <div class="uk-width-1-1">

                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    
                </thead>
                <tr class="uk-table-middle">
                    <td>
                      <div class="dynamic_radio uk-margin-small-top">
                        <span class="icheck-inline">
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                            <label for="checkbox_demo_inline_1" class="inline-label"> </label>
                          </span>
                    </div>
                    </td>
                    <td>
                        <span class="uk-text-large">supriya (supriyashahane95@gmail.com)</span><br>
                    </td>
                </tr>
                <tr class="uk-table-middle">
                    <td>
                      <div class="uk-grid uk-margin-medium-top">
                        <div class="uk-width-1-1">
                            <button type="submit" class="md-btn md-btn-primary">Remove user from Group</button>
                            <button type="submit" class="md-btn md-btn-primary">Assign user</button>                            
                        </div>
                    </div>
                    </td>
                </tr>
              </table>       
              <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div class="parsley-row">
                        <div>
                            <h3> Assigned roles - Administrators </h3>
                        </div>                                
                    </div>
                </div>
            </div>

          <table class="uk-table">
            <thead>
                <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large"> </span><br>
                    </td>
                    <td>
                        <span class="uk-text-large">Name</span><br>
                    </td>
                    
                
                    <td>
                        <div class="uk-grid uk-margin-medium-top">
                            <div class="uk-width-1-1">

                            </div>
                        </div>
                    </td>
                </tr>
                
                
            </thead>
            <tr class="uk-table-middle">
                <td>
                  <div class="dynamic_radio uk-margin-small-top">
                    <span class="icheck-inline">
                        <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                        <label for="checkbox_demo_inline_1" class="inline-label"> </label>
                      </span>
                </div>
                </td>
                <td>
                    <span class="uk-text-large">Administrators</span><br>
                </td>
                
            </tr>
            <tr class="uk-table-middle">
                <td>
                  <div class="uk-grid uk-margin-medium-top">
                    <div class="uk-width-1-1">
                        <button type="submit" class="md-btn md-btn-primary">Remove role from Group</button>
                        <button type="submit" class="md-btn md-btn-primary">Assign role</button>                            
                    </div>
                </div>
                </td>
            </tr>
          </table>       
              </div>
              
          </div>
      </div>
          
      </form>
      
  </div>
</div>
              