

<div class="md-card">
  <div class="md-card-content">
      <form action="/chatbox" data-parsley-validate="" novalidate="">
          <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
          <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
              <div class="uk-width-9-10" >
                  
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                          <div class="parsley-row">
                              <div>
                                  <h3> Users </h3>
                              </div>                                
                          </div>
                      </div>
                  </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><label>Username</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                            
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                      <div class="parsley-row">
                          <div class="md-input-wrapper"><label>Last-name</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>        
                      </div>
                    </div>
                  </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><label>First Name</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                            
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                      <div class="parsley-row">
                          <div class="md-input-wrapper"><label>Last Name</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                          
                      </div>
                    </div>
                  </div>
                <div class="uk-grid uk-margin-medium-top">
                  <div class="uk-width-1-1">
                    <button type="submit" class="md-btn md-btn-primary">Search</button>
                  </div>
                </div>
              <table class="uk-table">
                <thead>
                    <tr class="uk-table-middle">
                        <td>
                            <span class="uk-text-large">Id</span><br>
                        </td>
                        <td>
                            <span class="uk-text-large">Username</span><br>
                        </td>
                        <td>
                            <span class="uk-text-large">E-mail</span><br>
                        </td>
                        <td>
                            <span class="uk-text-large">Last-Activity</span><br>
                        </td>
                        <td>
                            <div class="uk-grid uk-margin-medium-top">
                                <div class="uk-width-1-1">
                                    <button type="submit" class="md-btn md-btn-primary">Log-in as</button>
                                    
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="uk-grid uk-margin-medium-top">
                                <div class="uk-width-1-1">
                                    <button type="submit" class="md-btn md-btn-primary">Edit</button>
                                    
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    
                </thead>
              </table>       
              </div>
              
          </div>
      </div>
          <div class="uk-grid uk-margin-medium-top">
              <div class="uk-width-1-1">
                  <button type="submit" class="md-btn md-btn-primary">New-User</button>
                  
              </div>
          </div>
      </form>
      
  </div>
</div>
              