<div class="md-card">
    <div class="md-card-content">
        <form action="/setting/uploadfile" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10">
                    <h1>New file</h1>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>File name</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="uk-form-file md-btn md-btn-primary">
                                    Browse..
                                    <input id="form-file" type="file">
                                </div>
                            </div> No file selected.
                        </div>
                    </div>

                </div>
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <button type="submit" href="#" class="md-btn md-btn-primary">Upload</button>
                </div>
            </div>
        </form>
        
    </div>
</div>