<div class="md-card">
    <div class="md-card-content">
        <form action="/setting/newevent" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10" style="min-height: 274px;">
                    
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div>
                                    <h3> Pro active chat events </h3>
                                </div>                                
                            </div>
                        </div>
                    </div>
                <table class="uk-table">
                  <thead>
                      <tr class="uk-table-middle">
                          <td>
                              <span class="uk-text-large">Visitor ID</span><br>
                          </td>
                          <td>
                              <div class="uk-grid uk-margin-medium-top">
                                  <div class="uk-width-1-1">
  
                                  </div>
                              </div>
                          </td>
                          <td>
                              <span class="uk-text-large">Event ID</span><br>
                          </td>
                          <td>
                              <div class="uk-grid uk-margin-medium-top">
                                  <div class="uk-width-1-1">
  
                                  </div>
                              </div>
                          </td>
                          <td>
                              <span class="uk-text-large">Value</span><br>
                          </td>
                          <td>
                              <div class="uk-grid uk-margin-medium-top">
                                  <div class="uk-width-1-1">
  
                                  </div>
                              </div>
                          </td>
                          <td>
                            <div class="uk-grid uk-margin-medium-top">
                                <div class="uk-width-1-1">
  
                                </div>
                            </div>
                        </td>
                      </tr>
                      
                      
                  </thead>
                  <tr class="uk-table-middle">
                      <td>
                          <span class="uk-text-large">0</span><br>
                      </td>
                      <td>
                          <div class="uk-grid uk-margin-medium-top">
                              <div class="uk-width-1-1">

                              </div>
                          </div>
                      </td>
                      <td>
                          <span class="uk-text-large">0</span><br>
                      </td>
                      <td>
                          <div class="uk-grid uk-margin-medium-top">
                              <div class="uk-width-1-1">

                              </div>
                          </div>
                      </td>
                      <td>
                          <span class="uk-text-large"></span><br>
                      </td>
                      
                  
                      <td>
                          <div class="uk-grid uk-margin-medium-top">
                              <div class="uk-width-1-1">
                                  <p class="md-btn"><a href = "/setting/newevent">Edit</a></p>
                                  
                              </div>
                          </div>
                      </td>
                      <td>
                        <div class="uk-grid uk-margin-medium-top">
                              <div class="uk-width-1-1">
                                  <p class="md-btn"><a href = "#">Delete</a></p>
                                  
                              </div>
                          </div>
                      </td>
                  </tr>
                </table>       
                </div>
                
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <button type="submit" class="md-btn md-btn-primary">New </button>
                    
                </div>
            </div>
        </form>
        
    </div>
  </div>