<div class="uk-width-medium-8-10 uk-container-center">
    <div class="uk-grid uk-grid-collapse" data-uk-grid-margin="">
        <div class="uk-width-large-7-10 uk-row-first">
            <div class="md-card md-card-single">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions hidden-print">
                        <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false">
                            <i class="md-icon material-icons"></i>
                            <div class="uk-dropdown uk-dropdown-bottom" aria-hidden="true" style="min-width: 200px; top: 32px; left: -168px;" tabindex="">
                                <ul class="uk-nav" id="chat_colors">
                                    <li class="uk-nav-header">Message Colors</li>
                                    <li class="uk-active"><a href="#" data-chat-color="chat_box_colors_a">Grey/Green</a></li>
                                    <li><a href="#" data-chat-color="chat_box_colors_b">Blue/Dark Blue</a></li>
                                    <li><a href="#" data-chat-color="chat_box_colors_c">Orange/Light Gray</a></li>
                                    <li><a href="#" data-chat-color="chat_box_colors_d">Deep Purple/Light Grey</a></li>
                                </ul>
                            </div>
                        </div>
                        <i class="md-icon  material-icons"></i>
                    </div>
                    <h3 class="md-card-toolbar-heading-text large">
                        <span class="uk-text-muted">Chat with</span> <a href="#">Visitor</a>
                    </h3>
                </div>
                <div class="md-card-content padding-reset" style="height: 562px;">
                    <div class="chat_box_wrapper">
                        <div class="chat_box touchscroll chat_box_colors_a" id="chat">
                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt="">
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                                    </li>
                                    <li>
                                        <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat_message_wrapper chat_message_right">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt="">
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                                            <span class="chat_message_time">13:34</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt="">
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.
                                            <span class="chat_message_time">23 Jun 1:10am</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat_message_wrapper chat_message_right">
                                <div class="chat_user_avatar">
                                    <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt="">
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p> Lorem ipsum dolor sit amet, consectetur. </p>
                                    </li>
                                    <li>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            <span class="chat_message_time">Friday 13:34</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat_submit_box" id="chat_submit_box">
                            <div class="uk-input-group">
                                <div class="md-input-wrapper"><input class="md-input" name="submit_message" id="submit_message" placeholder="Send message" type="text"><span class="md-input-bar "></span></div>
                                <span class="uk-input-group-addon">
                                    <a href="#"><i class="material-icons md-24"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>