<div class="md-card">
    <div class="md-card-content">
        <form action="" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label><h1>New bot</h1> </label><br>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Name </label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Nick, what should be operator nick. E.g Support Bot</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Custom attribute 1 </label><br>
                                <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                              </div> 
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Custom attribute 2 </label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Custom attribute 3 </label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <div data-uk-button-radio="{target:'.md-btn'}">
                        <button class="md-btn md-btn-wave waves-effect waves-button">Save</button>
                        <button class="md-btn md-btn-wave waves-effect waves-button">Save and exit</button>
                        <button class="md-btn md-btn-wave waves-effect waves-button">Cancel</button>
                    </div>                </div>
            </div>
        </form>
    </div>
  </div>