<div class="md-card">
<div class="md-card-content">
    <form action="" data-parsley-validate="" novalidate="">
        <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
        <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
            <div class="uk-width-9-10" style="min-height: 274px;">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><label><h2>Maintenance</h2></label>
                              <span class="md-input-bar "></span></div>
                            
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><label><h5>   * <a href="#">Automatic chats close, click to close old chats</a></h5></label>
                              <span class="md-input-bar "></span></div>
                            
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><label><h5>   * <a href="#">Automatic chats purge, click to close old chats</a></h5></label>
                              <span class="md-input-bar "></span></div>
                            
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                            <div class="md-input-wrapper"><label><h5>   * <a href="#">Automatic chats close, click to close old chats</a></h5></label>
                              <span class="md-input-bar "></span></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</div>