   
<table style="width: -moz-available;">
        <tr>
            <td style="padding-right: 10px;">
                <div class="md-card" style="margin-top: 10px;">
                    <div class="md-card-content" style="height: 300px;">
                        <h3 class="heading_a">
                                <span class="md-list-heading"><a routerLink ="/setting/system" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">System&nbsp;Settings</a></span>
                            </h3>
                        <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial-horizontal" data-fab-hover="">
                            <div class="md-fab-wrapper-small">
                                <a class="md-fab md-fab-small md-fab-warning" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                --><a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                --><a class="md-fab md-fab-small md-fab-success" href="javascript:void(0)"><i class="material-icons"></i></a>
                            </div><!--
                            --><a class="md-fab md-fab-primary" href="javascript:void(0)"><i class="material-icons">settings_applications</i><i class="material-icons md-fab-action-close" style="display:none"></i></a>
                        </div>
                    </div>
                 </div>
            </td>
            <td>
                    <div class="md-card" style="margin-top: 10px;">
                        <div class="md-card-content" style="height: 300px;">
                            <h3 class="heading_a">
                                    <span class="md-list-heading"><a routerLink ="/setting/speech" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Speech&nbsp;Setting</a></span>
                                </h3>
                            <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial-horizontal" data-fab-hover="">
                                <div class="md-fab-wrapper-small">
                                    <a class="md-fab md-fab-small md-fab-warning" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                    --><a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                    --><a class="md-fab md-fab-small md-fab-success" href="javascript:void(0)"><i class="material-icons"></i></a>
                                </div><!--
                            --><a class="md-fab md-fab-primary" href="javascript:void(0)"><i class="material-icons">settings_applications</i><i class="material-icons md-fab-action-close" style="display:none"></i></a>
                        </div>
                        </div>
                     </div>
                </td>
        </tr>
        <tr>
                <td style="padding-right: 10px;">
                    <div class="md-card" style="margin-top: 10px;">
                        <div class="md-card-content" style="height: 300px;">
                            <h3 class="heading_a">
                                    <span class="md-list-heading"><a routerLink ="/setting/lhconf" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">LiveHelp&nbsp;Config</a></span>
                                </h3>
                            <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial-horizontal" data-fab-hover="">
                                <div class="md-fab-wrapper-small">
                                    <a class="md-fab md-fab-small md-fab-warning" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                    --><a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                    --><a class="md-fab md-fab-small md-fab-success" href="javascript:void(0)"><i class="material-icons"></i></a>
                                </div><!--
                            --><a class="md-fab md-fab-primary" href="javascript:void(0)"><i class="material-icons">settings_applications</i><i class="material-icons md-fab-action-close" style="display:none"></i></a>
                        </div>
                        </div>
                     </div>
                </td>
                <td >
                        <div class="md-card" style="margin-top: 10px;">
                            <div class="md-card-content" style="height: 300px;">
                                <h3 class="heading_a">
                                        <span class="md-list-heading"><a routerLink ="/setting/embedcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Embed&nbsp;Code</a></span>
                                    </h3>
                                <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial-horizontal" data-fab-hover="">
                                    <div class="md-fab-wrapper-small">
                                        <a class="md-fab md-fab-small md-fab-warning" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                        --><a class="md-fab md-fab-small md-fab-danger" href="javascript:void(0)"><i class="material-icons"></i></a><!--
                                        --><a class="md-fab md-fab-small md-fab-success" href="javascript:void(0)"><i class="material-icons"></i></a>
                                    </div><!--
                            --><a class="md-fab md-fab-primary" href="javascript:void(0)"><i class="material-icons">settings_applications</i><i class="material-icons md-fab-action-close" style="display:none"></i></a>
                        </div>
                            </div>
                         </div>
                    </td>
            </tr>
    </table>
                
