<div class="md-card">
    <div class="md-card-content">
      <form action="" data-parsley-validate="" novalidate="">
          <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
          <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
              <div class="uk-width-9-10">
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                          <div class="parsley-row">
                              <div class="md-input-wrapper"><label> <h2>Default theme</h2> </label><br>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                          <div class="parsley-row">
                              <div class="md-input-wrapper"><label> <h5>Theme</h5></label><br>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}">
                                    <option value="" disabled="" selected="" hidden="">Default</option>
                                    <option value="a">Default</option>
                                </select>                 
                               </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
          <div class="uk-grid uk-margin-medium-top">
              <div class="uk-width-1-1">
                <div data-uk-button-radio="{target:'.md-btn'}">
                  <button class="md-btn md-btn-wave waves-effect waves-button">Set as default theme</button>
              </div>
            </div>
          </div>
      </form>
    </div>
    </div>               