<mat-tab-group>
    <mat-tab label="Genral">
        <div class="md-card">
            <div class="md-card-content">
                <form action="" data-parsley-validate="" novalidate="">
                    <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
                    <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                        <div class="uk-width-9-10">
                            <div class="uk-grid">
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <span class="icheck-inline">
                                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                            <label for="checkbox_demo_inline_1" class="inline-label">Show the page widget when a mouse is clicked</label>
                                        </span>                          
                                    </div>
                                </div>
                                <div class="uk-width-1-2"> 
                                    <div class="parsley-row">
                                        <span class="icheck-inline">
                                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                            <label for="checkbox_demo_inline_1" class="inline-label">Hide status when offline</label>
                                        </span>                          
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <div class="parsley-row">
                                            <span class="icheck-inline">
                                                <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                                <label for="checkbox_demo_inline_1" class="inline-label">Show a ‘leave a message form’ when there are no online operators</label>
                                            </span>                          
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2"> 
                                        <div class="parsley-row">
                                            <span class="icheck-inline">
                                                <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                                <label for="checkbox_demo_inline_1" class="inline-label">Disable proactive invitations</label>
                                            </span>                          
                                        </div>
                                    </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-1-2">
                                    <div class="parsley-row">
                                        <span class="icheck-inline">
                                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                            <label for="checkbox_demo_inline_1" class="inline-label">Disable online tracking (this overrides the system configuration)</label>
                                        </span>                          
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <div class="parsley-row">
                                            <div class="md-input-wrapper"><label>Support application name, visible in browser title.Value in - "eng" site access</label><br><br>
                                            <input class="md-input" name="d_form_company__0" required="" type="text" value="Live Helper Chat - live support "><span class="md-input-bar "></span></div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <div class="parsley-row">
                                            <div class="md-input-wrapper"><label>Choose prefered http mode</label><br>
                                                <select id="select_demo_1" class="md-input">
                                                    <option value="" disabled="" selected="" hidden="">Based on site</option>
                                                        <option value="a1">http</option>
                                                        <option value="b1">https</option>
                                                </select><span class="md-input-bar "></span>                              </div>
                                            </div>
                                    </div>
                            </div>
                            <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <div class="parsley-row">
                                            <div class="md-input-wrapper"><label>Department</label><br>
                                            <textarea class="md-input" name="d_form_company__0" required="" type="text" value = "Support" disabled readonly>
                                            </textarea></div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <div class="parsley-row">
                                            <div class="md-input-wrapper"><label>Choose a language</label><br>
                                                <select id="select_demo_1" class="md-input">
                                                    <option value="" disabled="" selected="" hidden="">eng</option>
                                                        <option value="a1">dfs</option>
                                                        <option value="b1">sfdf</option>
                                                        <option value="b1">fdd</option>
                                                        <option value="b1">dfs</option>
                                                        <option value="b1">vbv</option>
                                                        <option value="b1">fgd</option>
                                                        <option value="b1">iui</option>
                                                        <option value="b1">sfdf</option>
                                                        <option value="b1">wewew</option>
                                                        <option value="b1">fsf</option>
                                                        <option value="b1">asd</option>
                                                        <option value="b1">ghf</option>
                                                        <option value="b1">dsfs</option>
                                                        <option value="b1">sdfs</option>
                                                        <option value="b1">lkj</option>
                                                        <option value="b1">sfdf</option>
                                                        <option value="b1">oiu</option>
                                                        <option value="b1">sda</option>
                                                        <option value="b1">sada</option>
                                                        <option value="b1">dsds</option>
                                                        <option value="b1">ksks</option>
                                                        <option value="b1">ehehehe</option>
                                                </select><span class="md-input-bar "></span>                              </div>
                                            </div>
                                        <div class="uk-width-1-2">
                                            <div class="parsley-row">
                                                <span class="icheck-inline">
                                                    <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                                    <label for="checkbox_demo_inline_1" class="inline-label">Try to detect language automatically</label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="uk-grid">
                                            <div class="uk-width-1-2">
                                                <div class="parsley-row">
                                                    <div class="md-input-wrapper"><label>Operator ID</label><br><br>
                                                    <input class="md-input" name="d_form_company__0" required="" type="text" value="To whatever oprator chat should be assign"><span class="md-input-bar "></span></div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-2">
                                                <div class="parsley-row">
                                                    <div class="md-input-wrapper"><label>Survey at the end of chat</label><br>
                                                        <select id="select_demo_1" class="md-input">
                                                            <option value="" disabled="" selected="" hidden="">No Servey</option>
                                                                <option value="a1">No Servey</option>
                                                        </select><span class="md-input-bar "></span>                              </div>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-1-1">
                                            <div class="parsley-row">
                                                    <div class="md-input-wrapper"><label>Copy the code from the text area to the page where you want your status to appear</label><br>
                                                    <textarea class="md-input language-javascript"  name="d_form_company__0" required="" type="text" value = "script-
                                                        var LHCChatOptions = {};
                                                        LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500};
                                                        (function() {
                                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                                        var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
                                                        var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
                                                        po.src = '//localhost/livehelperchat-master/lhc_web/index.php/chat/getstatus/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(department)/1?r='+referrer+'&l='+location;
                                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                                        })();
                                                        "  style="min-height: 150px;"></textarea></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
    
                    </div>
                    </div>
                
                </form>
            </div>
    </div>
  </mat-tab>
  <mat-tab label="Design">
        <div class="md-card">
                <div class="md-card-content">
                    <form action="" data-parsley-validate="" novalidate="">
                        <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
                        <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                            <div class="uk-width-9-10">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="parsley-row">
                                            <div class="md-input-wrapper"><label>Minimize action, applies only if status widget is at the bottom</label><br>
                                                <select id="select_demo_1" class="md-input">
                                                    <option value="" disabled="" selected="" hidden="">Minimize to bottom of the screen</option>
                                                    <option value="a1">Keep where it is</option>
                                                    <option value="al">Minimize to bottom of the screen</option>
                                                </select><span class="md-input-bar "></span>                              </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="uk-grid">
                                        <div class="uk-width-1-2">
                                            <div class="parsley-row">
                                                <div class="md-input-wrapper"><label>position</label><br>
                                                    <select id="select_demo_1" class="md-input">
                                                        <option value="" disabled="" selected="" hidden="">Bottom right corner of the screen</option>
                                                        <option value="a1">Native placement - it will be shown where the html code is embed</option>
                                                        <option value="al"> Bottom left corner of the screen</option>
                                                        <option value="al"> Bottom left corner of the screen</option>
                                                        <option value="al"> Middle left side of the screen</option>
                                                        <option value="al"> Middle right side of the screen</option>
                                                        <option value="al"> Invisible, only JS API will be included</option>
                                                        <option value="al"> Full height right</option>
                                                        <option value="al"> Full height left </option>
                                                    </select><span class="md-input-bar "></span>                              </div>
                                                </div>
                                        </div>
                                        <div class="uk-width-1-2">
                                            <div class="parsley-row">
                                                <div class="md-input-wrapper"><label>Theme</label><br>
                                                    <select id="select_demo_1" class="md-input">
                                                        <option value="" disabled="" selected="" hidden="">Default</option>
                                                        <option value="a1">Default</option>
                                                    </select><span class="md-input-bar "></span>                              </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
                                        <div class="uk-width-1-4 uk-width-medium-1-2 uk-row-first">
                                            <div class="parsley-row">
                                                <div class="md-input-wrapper"><label>Popup window width</label><br><br>
                                                <input class="md-input" name="d_form_company__0" required="" type="text" value=" 500 "><span class="md-input-bar "></span></div>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-4 uk-width-medium-1-2 ">
                                                <div class="parsley-row">
                                                    <div class="md-input-wrapper"><label>widget width</label><br><br>
                                                    <input class="md-input" name="d_form_company__0" required="" type="text" value=" 300 "><span class="md-input-bar "></span></div>
                                                </div>
                                        </div>
                                        <div class="uk-width-1-4 uk-width-medium-1-2 ">
                                                <div class="parsley-row">
                                                    <div class="md-input-wrapper"><label>Heigth</label><br><br>
                                                    <input class="md-input" name="d_form_company__0" required="" type="text" value=" 520 "><span class="md-input-bar "></span></div>
                                                </div>
                                        </div>
                                        <div class="uk-width-1-4 uk-width-medium-1-2 ">
                                                <div class="parsley-row">
                                                    <div class="md-input-wrapper"><label>Height</label><br><br>
                                                    <input class="md-input" name="d_form_company__0" required="" type="text" value=" 340 "><span class="md-input-bar "></span></div>
                                                </div>
                                        </div>
                                    </div>
                                    
                                <div class="uk-grid">
                                        <div class="uk-width-1-2">
                                            <div class="parsley-row">
                                                <div class="md-input-wrapper"><label>Position from the top, only used if the middle left or the middle right side is chosen</label><br><br>
                                                <input class="md-input" name="d_form_company__0" required="" type="text" value="350"><span class="md-input-bar "></span></div>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-2">
                                            <div class="parsley-row">
                                                <div class="md-input-wrapper"><label> </label><br>
                                                    <select id="select_demo_1" class="md-input">
                                                        <option value="" disabled="" selected="" hidden="">Pixels</option>
                                                            <option value="a1">Pixels</option>
                                                            <option value="b1">Percentage</option>
                                                    </select><span class="md-input-bar "></span>                              </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="uk-grid">
                                        <div class="uk-width-1-1">
                                            <div class="parsley-row">
                                                <div class="md-input-wrapper"><label>Identifier – enter a unique identifier here. This is useful for separating messages and proactive chat invitations from different domains/web pages. Enter a string without special characters or spaces such as “homepage” or “website1”.</label><br><br>
                                                <textarea class="md-input" name="d_form_company__0" required="" type="text" value = "350" disabled readonly></span></textarea></div>
                                            </div>
                                        </div>
                                </div>
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <div class="parsley-row">
                                            <div class="md-input-wrapper"><label>Copy the code from the text area to the page where you want your status to appear</label><br>
                                                <textarea class="md-input language-javascript"  name="d_form_company__0" required="" type="text" value = "script-
                                                    var LHCChatOptions = {};
                                                    LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500};
                                                    (function() {
                                                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                                    var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
                                                    var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
                                                    po.src = '//localhost/livehelperchat-master/lhc_web/index.php/chat/getstatus/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(department)/1?r='+referrer+'&l='+location;
                                                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                                    })();
                                                    "  style="min-height: 150px;"></textarea></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                        </div>
                    
                    </form>
                </div>
        </div>
  </mat-tab>
</mat-tab-group>