<div class="md-card">
  <div class="md-card-content">
      <form action="" data-parsley-validate="" novalidate="">
          <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
          <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
              <div class="uk-width-9-10">
                  <div class="uk-grid">
                      <div class="uk-width-1-2">
                          <div class="parsley-row">
                              <div class="md-input-wrapper"><label>Language</label><br>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}">
                                  <option value="" disabled="" selected="" hidden="">English</option>
                                  <option value="a">English</option>
                                  <option value="b">Hindi</option>
                                  <option value="c">Marathi</option>
                              </select>
                            </div> 
                          </div>
                      </div>
                      <div class="uk-width-1-2">
                          <div class="parsley-row">
                              <div class="md-input-wrapper"><label>Dialect</label><br>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}">
                                  <option value="" disabled="" selected="" hidden="">United States(US)</option>
                                  <option value="a">United States(US)</option>
                                  <option value="b">United Kingdom(UK)</option>
                                  <option value="c">United Kingdom(UK)</option>
                              </select>
                            </div>  
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
          <div class="uk-grid uk-margin-medium-top">
              <div class="uk-width-1-1">
                  <button type="submit" href="#" class="md-btn md-btn-primary">Validate</button>
              </div>
          </div>
      </form>
      
  </div>
</div>