<div class="md-card uk-margin-medium-bottom">
  <div class="md-card-content">
      <div class="uk-grid">
          <div class="uk-width-1-1">
              <div class="parsley-row">
                  <div class="md-input-wrapper"><label><h1>Archives list</h1></label><br><br>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="uk-overflow-container">
          <table class="uk-table uk-table-hover">
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Form date</th>
                  <th>Till date</th>
              </tr>
              </thead>
          </table>
          <a class="md-btn md-btn-wave waves-effect waves-button" href="/setting/newarchive">New archive</a>
      </div>
  </div>
</div>