<div id="page_content_inner">
    <div class="uk-grid">
        <div class="uk-width-medium-2-3">
            <div class="md-card">
                <div class="md-card-content">
                    Click on user to start chat.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content" style="height: auto; margin-bottom: -10px; margin-right: -10px; max-height: 632px;">
    <div class="sidebar_secondary_wrapper uk-margin-remove">
        <ul class="md-list md-list-addon list-chatboxes" id="chatboxes">
                            <li data-user="Antonetta Turcotte" data-user-avatar="avatar_02">
                <div class="md-list-addon-element">
                    <span class="element-status element-status-danger"></span>
                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_02_tn.png" alt="">
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Antonetta Turcotte</span>
                    <span class="uk-text-small uk-text-muted uk-text-truncate">Vero facere fugiat.</span>
                </div>
            </li>
                            <li data-user="Jessy White" data-user-avatar="avatar_07">
                <div class="md-list-addon-element">
                    <span class="element-status element-status-success"></span>
                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_07_tn.png" alt="">
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Jessy White</span>
                    <span class="uk-text-small uk-text-muted uk-text-truncate">Natus aliquam et minus.</span>
                </div>
            </li>
                            <li data-user="Antonia Brakus" data-user-avatar="avatar_06">
                <div class="md-list-addon-element">
                    <span class="element-status element-status-success"></span>
                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_06_tn.png" alt="">
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Antonia Brakus</span>
                    <span class="uk-text-small uk-text-muted uk-text-truncate">Qui atque itaque.</span>
                </div>
            </li>
                            <li data-user="Laverna Heaney" data-user-avatar="avatar_01">
                <div class="md-list-addon-element">
                    <span class="element-status element-status-danger"></span>
                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_01_tn.png" alt="">
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Laverna Heaney</span>
                    <span class="uk-text-small uk-text-muted uk-text-truncate">Impedit incidunt in non.</span>
                </div>
            </li>
                            <li data-user="Berenice Rodriguez" data-user-avatar="avatar_08">
                <div class="md-list-addon-element">
                    <span class="element-status element-status-warning"></span>
                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_08_tn.png" alt="">
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Berenice Rodriguez</span>
                    <span class="uk-text-small uk-text-muted uk-text-truncate">Accusantium alias optio et ratione.</span>
                </div>
            </li>
                            <li data-user="Kassandra Pouros" data-user-avatar="avatar_04">
                <div class="md-list-addon-element">
                    <span class="element-status element-status-success"></span>
                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_04_tn.png" alt="">
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Kassandra Pouros</span>
                    <span class="uk-text-small uk-text-muted uk-text-truncate">Occaecati accusantium ipsam.</span>
                </div>
            </li>
        </ul>
    </div>
</div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 96px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 96px;"></div></div></div></div>

<div id="chatbox_wrapper"> </div>