<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
        <tr>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">Live help embed code</span>
                </div>
            </th>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">Questionary embed code</span>
                </div>
            </th>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">FAQ embed code</span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading"><a routerLink ="/setting/lhcwidgetembedcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Widget embed&nbsp;code</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/questionary/htmlcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Widget embed&nbsp;code</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/faq/widgetembed" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Widget embed&nbsp;code</a></span>
                </div>
            </td>
        </tr>    
        <tr>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading"><a routerLink ="/setting/lhcpageembedcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">page embed&nbsp;code</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/questionary/pageembedcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">page embed&nbsp;code</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/faq/pageembedcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">page embed&nbsp;code</a></span>
                </div>
            </td>
        </tr>    
        </tbody>
    </table>
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
        <tr>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">Chatbox embed code</span>
                </div>
            </th>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">Browse offers embed code</span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading"><a routerLink ="/chatbox/pageembedcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Widget embed&nbsp;code</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/browseoffers/embedcode" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Embed&nbsp;code</a></span>
                </div>
            </td>
        </tr>    
        <tr>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading"><a routerLink ="/chatbox/widgetembed" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">page embed&nbsp;code</a></span>
                </div>
            </td>
        </tr>    
        </tbody>
    </table>
</div>
