<div class="md-card">
    <div class="md-card-content">
      <h2>Browser offer invitations
        </h2>
        <form action="/browseoffers/browseyouroffer" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10" style="min-height: 274px;">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Popup width</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>Pixel</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>                                
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Popup height, used only if iframe is used</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Identifier, this can be used as filter for pro active chat invitations and is use full having different messages for different domains. Only string without spaces or special characters.</label><br><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                
                                <div class="dynamic_radio uk-margin-small-top">
                                    <span class="icheck-inline">
                                        <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                        <label for="checkbox_demo_inline_1" class="inline-label">Show overlay</label>
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="uk-width-1-2">
                                  <div class="parsley-row">
                                  <div class="dynamic_radio uk-margin-small-top">
                                      <span class="icheck-inline">
                                          <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                          <label for="checkbox_demo_inline_1" class="inline-label">Show different offers for the same user</label>
                                        </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Offer timeout in days, after how many days show offers for the same visitor again, leave empty for session</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>For what domain you are generating embed code?</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="parsley-row"><div class="md-input-wrapper"><label>Choose a language</label><br>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>Choose a language</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>                                
                            </div>
                        </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="parsley-row"><div class="md-input-wrapper"><label>Choose prefered http mode</label><br>
                              <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>Default</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>                                
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label> Copy the code from the text area to the page header or footer</label><br><br><textarea class="md-input" name="d_form_company__0" required="" type="text"></textarea><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                  </div>
                
                </div>
            </div>
                
            </form>
            
        </div>
    </div>
                    
                    
                    
                    
                
                    
                    
                    
                    
                    
                    
                    
                    
                
                