<div class="md-card">
    <div class="md-card-content">
<h1>
  Live Helper Chat update
</h1>


<div class="uk-overflow-container">
    <table class="uk-table">
        
        <tbody>
        <tr>
            <td><h3>Your version - 3.08</h3></td>
            <td><h3>Database structure check</h3></td>
            
        </tr>
        <tr>
            <td><h3>Current version - 3.09</h3></td>
            <td><button style="background-color: skyblue; border-radius: 10px"><p style="color:green;">Your database does not require any updates</p></button></td>
            
        </tr>
        <tr>
            <td>
              <button type="submit">News</button>
              <button type="reset">Update Instruction</button>
            </td>
            
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>