<mat-tab-group>
  <mat-tab label= "Setting">
    <div class="md-card">
      <div class="md-card-content">
          <form action="" data-parsley-validate="" novalidate="">
              <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
              <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                  <div class="uk-width-9-10">
                      <div class="uk-grid">
                          <div class="uk-width-1-1">
                              <div class="parsley-row">
                                  <div class="md-input-wrapper"><label>Name* </label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
              <div class="uk-grid uk-margin-medium-top">
                  <div class="uk-width-1-1">
                      <button type="submit" href="#" class="md-btn md-btn-primary">Save</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label= "Main attributes">
      <div class="md-card">
          <div class="md-card-content">
              <form action="" data-parsley-validate="" novalidate="">
                  <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
                  <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                      <div class="uk-width-9-10">
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Main</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-2">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label>Main background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                      
                                  </div>
                              </div>
                              <div class="uk-width-1-2">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label>Link default text color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Table border color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Default text color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Navbar toggle</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Navbar toggle background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Navbar toggle border color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Navigstion bar list</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Navigation bar icons text color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Navigation bar icons hover text color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Dropdown</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Dropdown background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Dropdown border color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Dropdown hover background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Panels</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Panel header background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Panel header border color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Panel background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Menu</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Menu active background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Menu text color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Tabs</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Active tab background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Tab text color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Tab active text color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Tab border color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
        
                          <div class="uk-grid" data-uk-grid-margin="">
                              <div class="uk-width-medium-1-2 uk-row-first">
                                  <label><h2>Button default</h2></label><br>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button background color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled"><label>Button text color</label><br><input class="md-input label-fixed" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button border color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="uk-width-medium-1-2">
                                  <label><h2>Button default active</h2></label><br>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button active text color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled"><label>Button active background color</label><br><input class="md-input label-fixed" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button active border color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
         
                          <div class="uk-grid" data-uk-grid-margin="">
                              <div class="uk-width-medium-1-2 uk-row-first">
                                  <label><h2>Button primary</h2></label><br>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button background color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled"><label>Button text color</label><br><input class="md-input label-fixed" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button border color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="uk-width-medium-1-2">
                                  <label><h2>Button primary active</h2></label><br>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button active text color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled"><label>Button active background color</label><br><input class="md-input label-fixed" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                      </div>
                                  </div>
                                  <div class="uk-form-row">
                                      <div class="uk-grid" data-uk-grid-margin="">
                                          <div class="uk-width-medium-1-2 uk-row-first">
                                              <div class="md-input-wrapper"><label>Button active border color</label><br><input class="md-input" type="text"><span class="md-input-bar "></span></div>
                                              
                                          </div>
                                          <div class="uk-width-medium-1-2">
                                              <div class="md-input-wrapper md-input-filled">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
        
        
        
                          <div class="uk-grid">
                              <div class="uk-width-1-2">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Breadcrumb</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Breadcrumb background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Breadcrumb border color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-2">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Header</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Header background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Header border color</label><br><input class="md-input" name="d_form_lname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                          </div>
                          <div class="uk-grid">
                              <div class="uk-width-1-2">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h2>Chat</h2></label><br>
                                  </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper"><label>Online background color</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                                    
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="parsley-row">
                                    <div class="md-input-wrapper">
        
                                    </div>
                                    
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
                  <div class="uk-grid uk-margin-medium-top">
                      <div class="uk-width-1-1">
                          <button type="submit" href="#" class="md-btn md-btn-primary">Validate</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
  </mat-tab>
  <mat-tab label= "Header Setting">
      <div class="md-card">
          <div class="md-card-content">
              <form action="" data-parsley-validate="" novalidate="">
                  <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
                  <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                      <div class="uk-width-9-10">
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h4>Header content</h4> </label><br>
                                        <textarea class="md-input" name="d_form_company__0" required="" type="text" style="min-height: 100px"></textarea>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                  <div class="uk-grid uk-margin-medium-top">
                      <div class="uk-width-1-1">
                          <button type="submit" href="#" class="md-btn md-btn-primary">Save</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
  </mat-tab>
  <mat-tab label= "Header CSS">
      <div class="md-card">
          <div class="md-card-content">
              <form action="" data-parsley-validate="" novalidate="">
                  <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
                  <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                      <div class="uk-width-9-10">
                          <div class="uk-grid">
                              <div class="uk-width-1-1">
                                  <div class="parsley-row">
                                      <div class="md-input-wrapper"><label><h4>Header CSS</h4> </label><br>
                                        <textarea class="md-input" name="d_form_company__0" required="" type="text" style="min-height: 100px"></textarea>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                  <div class="uk-grid uk-margin-medium-top">
                      <div class="uk-width-1-1">
                          <button type="submit" href="#" class="md-btn md-btn-primary">Save</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
  </mat-tab>  
</mat-tab-group>