<div class="uk-width-medium-8-10 uk-container-center reset-print">
    <div class="uk-grid uk-grid-collapse" data-uk-grid-margin="">
        <div class="uk-width-large-7-10 uk-row-first">
            <div class="md-card md-card-single main-print" id="invoice" style="opacity: 1; transform: scale(1);">
                <div id="invoice_preview">
<div class="md-card-toolbar">
<div class="md-card-toolbar-actions hidden-print">
    <i class="md-icon material-icons" id="invoice_print"></i>
    <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right'}">
        <i class="md-icon material-icons"></i>
        <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav">
                <li><a href="#">Archive</a></li>
                <li><a href="#" class="uk-text-danger">Remove</a></li>
            </ul>
        </div>
    </div>
</div>
<h3 class="md-card-toolbar-heading-text large" id="invoice_name">
    Invoice 153/2015
</h3>
</div>
<div class="md-card-content invoice_content print_bg" style="height: 562px;">
<div class="uk-margin-medium-bottom">
    <span class="uk-text-muted uk-text-small uk-text-italic">Date:</span> 29.10.2018
    <br>
    <span class="uk-text-muted uk-text-small uk-text-italic">Due Date:</span> <span>12.11.2018</span>
</div>
<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-small-3-5 uk-row-first">
        <div class="uk-margin-bottom">
            <span class="uk-text-muted uk-text-small uk-text-italic">From:</span>
            <address>
                <p><strong>Bailey-Lynch</strong></p>
                <p>2808 Robson St</p>
                <p>Vancouver, BC V6B 3K9</p>
            </address>
        </div>
        <div class="uk-margin-medium-bottom">
            <span class="uk-text-muted uk-text-small uk-text-italic">To:</span>
            <address>
                <p><strong>Price Ltd</strong></p>
                <p>2894 Bond Street</p>
                <p>Providence, RI 02908</p>
            </address>
        </div>
    </div>
    <div class="uk-width-small-2-5">
        <span class="uk-text-muted uk-text-small uk-text-italic">Total:</span>
        <p class="heading_b uk-text-success">$3,751.50</p>
        <p class="uk-text-small uk-text-muted uk-margin-top-remove">Incl. VAT -
            $862.85</p>
    </div>
</div>
<div class="uk-grid uk-margin-large-bottom">
    <div class="uk-width-1-1">
        <table class="uk-table">
            <thead>
                <tr class="uk-text-upper">
                    <th>Description</th>
                    <th>Rate</th>
                    <th class="uk-text-center">Hours</th>
                    <th class="uk-text-center">Vat</th>
                    <th class="uk-text-center">Total</th>
                </tr>
            </thead>
            <tbody>
            <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Website design &amp; development</span><br>
                        <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </td>
                    <td>
                        $25.00
                    </td>
                    <td class="uk-text-center">
                        32
                    </td>
                    <td class="uk-text-center">
                        23%
                    </td>
                    <td class="uk-text-center">
                        $984.00
                    </td>
                </tr>
            <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Search engine optimization</span><br>
                        <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis cupiditate delectus deserunt.</span>
                    </td>
                    <td>
                        $50.00
                    </td>
                    <td class="uk-text-center">
                        20
                    </td>
                    <td class="uk-text-center">
                        23%
                    </td>
                    <td class="uk-text-center">
                        $1,230.00
                    </td>
                </tr>
            <tr class="uk-table-middle">
                    <td>
                        <span class="uk-text-large">Consulting service</span><br>
                        <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet, consectetur.</span>
                    </td>
                    <td>
                        $100.00
                    </td>
                    <td class="uk-text-center">
                        12.5
                    </td>
                    <td class="uk-text-center">
                        23%
                    </td>
                    <td class="uk-text-center">
                        $1,537.50
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-1">
        <span class="uk-text-muted uk-text-small uk-text-italic">Payment to:</span>
        <p class="uk-margin-top-remove">
            BANK XYZ<br>IBAN 123 123 123 123
        </p>
        <p class="uk-text-small">Please pay within 14 days</p>
    </div>
</div>
</div>
</div>
                <div id="invoice_form"></div>
            </div>
        </div>
        <div class="uk-width-large-3-10 hidden-print uk-visible-large">
            <div class="md-list-outside-wrapper" style="height: 564px;">
                <div class="md-list-outside-search">
                    <div class="md-input-wrapper"><input class="md-input inverted-colors" placeholder="Find invoice..." id="invoice-filtering" type="text"><span class="md-input-bar "></span></div>
                </div>
                <div class="md-list-outside-inner" style="height: 564px;"><div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: -10px; margin-right: -10px; max-height: 574px;">
                    <ul class="md-list md-list-outside invoices_list" id="invoices_list">

                    <li class="heading_list">July 2018</li>


                    <li class="md-list-item-active">
                        <a href="#" class="md-list-content" data-invoice-id="2">
                            <span class="md-list-heading uk-text-truncate">Invoice 79/2015 <span class="uk-text-small uk-text-muted">(7 Jul)</span></span>
                            <span class="uk-text-small uk-text-muted">Kirlin-Greenfelder</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="3">
                            <span class="uk-badge uk-badge-primary">Header/Footer</span>
                            <span class="md-list-heading uk-text-truncate">Invoice 46/2015 <span class="uk-text-small uk-text-muted">(6 Jul)</span></span>
                            <span class="uk-text-small uk-text-muted">Keeling PLC</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="4">
                            <span class="uk-badge uk-badge-danger">Overdue</span>
                            <span class="md-list-heading uk-text-truncate">Invoice 48/2015 <span class="uk-text-small uk-text-muted">(5 Jul)</span></span>
                            <span class="uk-text-small uk-text-muted">Tremblay-Lehner</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="5">
                            <span class="md-list-heading uk-text-truncate">Invoice 153/2015 <span class="uk-text-small uk-text-muted">(4 Jul)</span></span>
                            <span class="uk-text-small uk-text-muted">Hintz, Paucek and Mann</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="6">
                            <span class="md-list-heading uk-text-truncate">Invoice 10/2015 <span class="uk-text-small uk-text-muted">(3 Jul)</span></span>
                            <span class="uk-text-small uk-text-muted">Bins, Haag and Mueller</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="7">
                            <span class="uk-badge uk-badge-primary">Header/Footer</span>
                            <span class="md-list-heading uk-text-truncate">Invoice 91/2015 <span class="uk-text-small uk-text-muted">(2 Jul)</span></span>
                            <span class="uk-text-small uk-text-muted">Wuckert, Hane and Schulist</span>
                        </a>
                    </li>


                    <li class="heading_list">Oldest</li>

                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="9">
                            <span class="md-list-heading uk-text-truncate">Invoice 129/2015 <span class="uk-text-small uk-text-muted">(20 Apr)</span></span>
                            <span class="uk-text-small uk-text-muted">Ritchie and Sons</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="10">
                            <span class="md-list-heading uk-text-truncate">Invoice 193/2015 <span class="uk-text-small uk-text-muted">(18 Mar)</span></span>
                            <span class="uk-text-small uk-text-muted">Lubowitz PLC</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="11">
                            <span class="md-list-heading uk-text-truncate">Invoice 158/2015 <span class="uk-text-small uk-text-muted">(8 Feb)</span></span>
                            <span class="uk-text-small uk-text-muted">Price-Cartwright</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="12">
                            <span class="uk-badge uk-badge-danger">Overdue</span>
                            <span class="md-list-heading uk-text-truncate">Invoice 16/2015 <span class="uk-text-small uk-text-muted">(28 Apr)</span></span>
                            <span class="uk-text-small uk-text-muted">Zemlak Ltd</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="13">
                            <span class="md-list-heading uk-text-truncate">Invoice 106/2015 <span class="uk-text-small uk-text-muted">(18 Feb)</span></span>
                            <span class="uk-text-small uk-text-muted">Gaylord, Trantow and Wyman</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="14">
                            <span class="md-list-heading uk-text-truncate">Invoice 118/2015 <span class="uk-text-small uk-text-muted">(15 May)</span></span>
                            <span class="uk-text-small uk-text-muted">Miller, Nader and Heaney</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="15">
                            <span class="uk-badge uk-badge-danger">Overdue</span>
                            <span class="md-list-heading uk-text-truncate">Invoice 54/2015 <span class="uk-text-small uk-text-muted">(6 Jun)</span></span>
                            <span class="uk-text-small uk-text-muted">Treutel, Jacobi and Walker</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="16">
                            <span class="md-list-heading uk-text-truncate">Invoice 132/2015 <span class="uk-text-small uk-text-muted">(5 Apr)</span></span>
                            <span class="uk-text-small uk-text-muted">Raynor-Bradtke</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="17">
                            <span class="md-list-heading uk-text-truncate">Invoice 84/2015 <span class="uk-text-small uk-text-muted">(26 Feb)</span></span>
                            <span class="uk-text-small uk-text-muted">Gerhold, Ruecker and Grant</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="18">
                            <span class="md-list-heading uk-text-truncate">Invoice 2/2015 <span class="uk-text-small uk-text-muted">(12 Feb)</span></span>
                            <span class="uk-text-small uk-text-muted">Harber, Grimes and Walker</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="19">
                            <span class="md-list-heading uk-text-truncate">Invoice 121/2015 <span class="uk-text-small uk-text-muted">(31 May)</span></span>
                            <span class="uk-text-small uk-text-muted">Bode-Maggio</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="20">
                            <span class="md-list-heading uk-text-truncate">Invoice 56/2015 <span class="uk-text-small uk-text-muted">(9 Feb)</span></span>
                            <span class="uk-text-small uk-text-muted">Zulauf-Reinger</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="21">
                            <span class="md-list-heading uk-text-truncate">Invoice 39/2015 <span class="uk-text-small uk-text-muted">(11 Feb)</span></span>
                            <span class="uk-text-small uk-text-muted">Nienow, Pfeffer and Lemke</span>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="md-list-content" data-invoice-id="22">
                            <span class="md-list-heading uk-text-truncate">Invoice 100/2015 <span class="uk-text-small uk-text-muted">(31 Mar)</span></span>
                            <span class="uk-text-small uk-text-muted">Witting, Kertzmann and Zboncak</span>
                        </a>
                    </li>

        </ul>
                </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 89px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 261px; top: 35.8056px;"></div></div></div></div></div>
            </div>
        </div>
    </div>
</div>


<a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="#" id="invoice_add">
    <i class="material-icons"></i>
</a>



        