<div class="md-card">
  <div class="md-card-content">
      <form action="" data-parsley-validate="" novalidate="">
          <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
          <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
              <div class="uk-width-9-10">
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                          <div class="parsley-row">
                            <div class="md-input-wrapper"><label><h1>Notifiction Setting</h1></label><br>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="parsley-row">
                          <div class="md-input-wrapper"><label>For more information see <a href="For more information see https://developers.google.com/web/fundamentals/push-notifications/display-a-notification">https://developers.google.com/web/fundamentals/push-notifications/display-a-notification</a></label><br>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>You can generate your private and public key here - <a href="https://web-push-codelab.glitch.me">https://web-push-codelab.glitch.me</a></label><br>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>Explains were taken from: <a href="https://web-push-book.gauntface.com/demos/notification-examples/">https://web-push-book.gauntface.com/demos/notification-examples/</a></label><br>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label><a href="#">Download Service Worker </a>- you will have to put this file in your domain root folder.</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper">
                          <span class="icheck-inline">
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                            <label for="checkbox_demo_inline_1" class="inline-label">Enable notification</label>
                        </span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper">
                          <span class="icheck-inline">
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                            <label for="checkbox_demo_inline_1" class="inline-label">Require Interaction</label>
                        </span>
                      </div>
                      <p>On desktop, a notification is only displayed for a short period of time. On Android, notifications are shown until the user interacts with it.

                        To get the same behaviour on desktop and mobile you can set the "require-interaction" option to true, which means the user must click or dismiss the notification.</p>
                  </div>
                </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper">
                          <span class="icheck-inline">
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                            <label for="checkbox_demo_inline_1" class="inline-label">Renotify</label>
                        </span>
                        </div>
                      <p>When you use the tag option, the default behavior of a new notification replacing an existing one is that there is no sound, vibration and the screen is kept asleep.

                        With `renotify: true` a new notification will play a sound, vibrate and wake up the users device. This means replacing notifications have the same behavior as a completely new notification.
                        
                        Note: Therde is no visible affect on desktop, but on mobile, vibration and sound will be affected.</p>
                  </div>
                </div>  
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>Subject*</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                        </div>
                        <p>You must provide a subject that is either a mailto: or a URL.</p>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>HTTP Host*</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text" value="localhost"><span class="md-input-bar "></span>
                        </div>
                        <p>You must provide host for notifications images.</p>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>Default Icon</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text" value="https://localhost/livehelperchat-master/lhc_web/design/defaulttheme/images/general/logo.png"><span class="md-input-bar "></span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>Badge Icon</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text" value="https://localhost/livehelperchat-master/lhc_web/design/defaulttheme/images/general/logo.png"><span class="md-input-bar "></span>
                        </div>
                        <p>Notification badges are only being used on mobile, at least at the time of writing. It is used to replace the browser icon that is shown by default.</p>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>Vibrate</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>Public key*</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <div class="md-input-wrapper"><label>Private key*</label><br>
                          <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                        </div>
                        <p>Private key is not shown after save</p>
                      </div>
                  </div>
                </div>

              </div>
              
          </div>
      </div>
          <div class="uk-grid uk-margin-medium-top">
              <div class="uk-width-1-1">
                  <button type="submit" href="#" class="md-btn md-btn-primary">Validate</button>
              </div>
          </div>
      </form>
  </div>
</div>