<div class="md-card">
    <div class="md-card-content">
        <form action="/setting/newbot" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label><h1>Bot List</h1> </label><br>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <button type="submit" href="/setting/newbot" class="md-btn md-btn-primary">New</button>
                </div>
            </div>
        </form>
    </div>
  </div>