<form action="" data-parsley-validate="" novalidate="">
  <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
  <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
      <div class="uk-width-9-10" >
          <div class="uk-grid">
              <div class="uk-width-1-1">
                  <div class="parsley-row">
                      <div class="md-input-wrapper"><label>Name* </label><br>
                        <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                  </div>
              </div>
          </div>
          <div class="uk-grid">
              <div class="uk-width-1-1">
                  <div class="parsley-row">
                      <div class="md-input-wrapper"><label>Default message </label><br>
                        <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</div>
<div class="uk-grid">
  <div class="uk-width-1-1">
    <div class="parsley-row">
      <button class="md-btn md-btn-wave waves-effect waves-button">Save</button>
      <button class="md-btn md-btn-wave waves-effect waves-button">Update</button>
      <button class="md-btn md-btn-wave waves-effect waves-button">Cancel</button>
  </div>
  </div>
</div>
</form>