<div class="md-card">
    <div class="md-card-content">
      <h2>Page Embed Code                                                                                                                                                                                                                                                                                                                                       
        </h2>
        <form action="/form" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10" style="min-height: 274px;">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                            <div class="md-input-wrapper"><label>Choose a language</label><br>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>eng</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>                                
                            </div>
                        </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="parsley-row"><div class="md-input-wrapper"><label>Choose prefered http mode</label><br>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>Default</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>                                
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row"><div class="md-input-wrapper"><label>Choose what form you want to embed</label><br>
                                <select id="select_demo_2" class="md-input" data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                    <option value="" disabled selected hidden>default</option>
                                    <option value="a">Item A</option>
                                    <option value="b">Item B</option>
                                    <option value="c">Item C</option>
                                </select>                                
                            </div>
                        </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Identifier</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Copy the code from the textarea to page where you want it to be rendered</label><br><textarea class="md-input" name="d_form_lname__0" required="" type="text"></textarea><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                </div>
                
            </div>
        </div>
            
        </form>
        
    </div>
</div>
                