<div class="md-card">
  <div class="md-card-content">
      <form action="" data-parsley-validate="" novalidate="">
          <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
          <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
              <div class="uk-width-9-10">
                  <div class="uk-grid">
                    <div class="uk-width-1-1">
                      <div class="parsley-row">
                        <span class="icheck-inline">
                            <label for="checkbox_demo_inline_1" class="inline-label">Enabled</label>
                          <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                      </span>
                      </div>
                    </div>
                  </div>
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                        <div class="parsley-row">
                          <span class="icheck-inline">
                              <label for="checkbox_demo_inline_1" class="inline-label">User can not access old chat if chat is closed </label>
                            <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                        </span>
                        </div>
                      </div>
                    </div>
                  <div class="uk-grid">
                      <div class="uk-width-1-1">
                          <div class="parsley-row">
                              <div class="md-input-wrapper"><label>Secret hash, used for verification</label><br>
                                <input class="md-input" name="d_form_company__0" required="" type="text" value="65ec191fb6934d9e2d3f7dce2f6e3be0652afd29"><span class="md-input-bar "></span></div>
                              
                          </div>
                      </div>
                  </div>
                  
              </div>
              
          </div>
      </div>
          <div class="uk-grid uk-margin-medium-top">
              <div class="uk-width-1-1">
                  <button type="submit" href="#" class="md-btn md-btn-primary">Save</button>
              </div>
          </div>
      </form>
  </div>
</div>