<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
        <tr>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">System</span>
                </div>
            </th>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">Users</span>
                </div>
            </th>
            <th>
                <div class="md-list-content">
                    <span class="md-list-heading" style="font-size: large;font-family: bold;">Advanced</span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading"><a routerLink ="/setting/timezonesetting" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Time zone&nbsp;setting</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/user" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Users&nbsp;</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/useraction" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Users&nbsp;Action;</a></span>
                </div>
            </td>
        </tr>    
        <tr>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/updateinfo" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Update&nbsp;Information</a></span>
                  </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/autologin" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Auto-login&nbsp;Setting</a></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/mailsetting" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Mail&nbsp;setting</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/listofgroup" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">List of&nbsp;groups</a></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/emailtemplate" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">E-mail&nbsp;Template</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/listofroles" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">List of&nbsp;roles</a></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/languageconf" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Language&nbsp;Configuration</a></span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/importvalue" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">import &nbsp;users</a></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/recaptchasetting" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Re-captcha&nbsp;Settings</a></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="md-list-content">
                  <span class="md-list-heading"><a routerLink ="/setting/system" class="__cf_email__" data-cfemail="4a2e2b2226232b7f7d0a2d272b232664292527">Clean&nbsp;Catche</a></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
