<div class="md-card-content">

    <h3 class="heading_a">Departments</h3>
    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
        <div class="uk-grid">
            <div class="uk-width-large-1-4 uk-row-first">
                <div class="parsley-row">
                    <div class="md-input-wrapper"><label>Status text</label><br><input class="md-input" name="d_form_fname__0" required="" type="text"><span class="md-input-bar "></span></div>
                            
                 </div>
            </div>
            <div class="uk-width-large-1-4">
              <label>Hidden</label>
              <select id="select_adv_s2_1" name="select_adv_s2_1" class="uk-width-1-1 select2-hidden-accessible" data-md-select2="" data-allow-clear="true" data-placeholder="Select state..." tabindex="-1" aria-hidden="true">
                  <optgroup label="Alaskan/Hawaiian Time Zone">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone">
                        <option value="CA">California</option>
                        <option value="NV" disabled="disabled">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone">
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone">
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="IL">Illinois</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="OK">Oklahoma</option>
                        <option value="SD">South Dakota</option>
                        <option value="TX">Texas</option>
                        <option value="TN">Tennessee</option>
                        <option value="WI">Wisconsin</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone">
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="IN">Indiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="OH">Ohio</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WV">West Virginia</option>
                      </optgroup>
                      </select>
                    </div>
        
        

            <div class="uk-width-large-1-4 uk-row-first">
              <label>Visible only if online</label>
                <select id="select_adv_s2_1" name="select_adv_s2_1" class="uk-width-1-1 select2-hidden-accessible" data-md-select2="" data-allow-clear="true" data-placeholder="Select state..." tabindex="-1" aria-hidden="true">
                    <optgroup label="Alaskan/Hawaiian Time Zone">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone">
                        <option value="CA">California</option>
                        <option value="NV" disabled="disabled">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone">
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone">
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="IL">Illinois</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="OK">Oklahoma</option>
                        <option value="SD">South Dakota</option>
                        <option value="TX">Texas</option>
                        <option value="TN">Tennessee</option>
                        <option value="WI">Wisconsin</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone">
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="IN">Indiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="OH">Ohio</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WV">West Virginia</option>
                    </optgroup>
                    </select>
                  </div>
            <div class="uk-width-large-1-4">
              <label>Disabled</label>
              <select id="select_adv_s2_1" name="select_adv_s2_1" class="uk-width-1-1 select2-hidden-accessible" data-md-select2="" data-allow-clear="true" data-placeholder="Select state..." tabindex="-1" aria-hidden="true">
                  <optgroup label="Alaskan/Hawaiian Time Zone">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone">
                        <option value="CA">California</option>
                        <option value="NV" disabled="disabled">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone">
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone">
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="IL">Illinois</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="OK">Oklahoma</option>
                        <option value="SD">South Dakota</option>
                        <option value="TX">Texas</option>
                        <option value="TN">Tennessee</option>
                        <option value="WI">Wisconsin</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone">
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="IN">Indiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="OH">Ohio</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WV">West Virginia</option>
                      </optgroup>
                      </select>
                    </div>
                
        </div>
    </div>

    

</div>

<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;"> Id </span>
                    </div>
                </th>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;"> Name </span>
                    </div>
                </th>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;">E-mail </span>
                    </div>
                </th>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;"> Hidden </span>
                    </div>
                </th>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;"> Disabled </span>
                    </div>
                </th>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;"> Visible only if online </span>
                    </div>
                </th>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;"> Overloaded </span>
                    </div>
                </th>
                <th>
                    <div class="md-list-content">
                        <span class="md-list-heading" style="font-size: large;font-family: bold;"> </span>
                    </div>
                </th>
            </tr>
          </thead>
        <tbody>
        <tr>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading">1</span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading">Support</span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading"> </span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading">NO</span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading">NO</span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading">NO</span>
                </div>
            </td>
            <td>
                <div class="md-list-content">
                    <span class="md-list-heading">NO</span>
                </div>
            </td>
        </tr>    
      </tbody>
    </table>
  </div>