<div class="md-card">
    <div class="md-card-content">
      <h2>Browser offer invitations
        </h2>
        <form action="/browseoffers/browseyouroffer" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10" style="min-height: 274px;">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Name for personal purposes *</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Language, leave empty for all. E.g lit, rus, ger etc...</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Time on site on single page in seconds</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label> Priority, the lower the higher</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Popup width</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Popup height</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Measure units, px or percents</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Referrer domain without www, E.g google keyword will match any of google domain</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>URL, enter * at the end for the wildcard</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Custom iframe URL, takes priority over default content</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Default popup content *</label><br><textarea class="md-input" name="d_form_lname__0" required="" type="text"></textarea><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Callback content, must be valid json</label><br><textarea class="md-input" name="d_form_lname__0" required="" type="text"></textarea><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                
                                <div class="dynamic_radio uk-margin-small-top">
                                    <span class="icheck-inline">
                                        <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                        <label for="checkbox_demo_inline_1" class="inline-label">Load content in lhc iframe</label>
                                      </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Identifier, for what identifier this message should be shown, leave empty for all</label><br><input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span></div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <button type="submit" class="md-btn md-btn-primary">Save</button>
                    <button type="reset" class="md-btn md-btn-primary">Update</button>
                    <button type="cancel" class="md-btn md-btn-primary">Cancel</button>

                  </div>
            </div>
        </form>
        
    </div>
</div>
                