<div>
<div class="md-card-content" style="background-color: whitesmoke;">
  
  <div class="uk-overflow-container">
      <h4 class= "heading_a uk-margin-bottom">
          Email Templates
        </h4>
      <table class="uk-table uk-table-striped uk-table-hover">
          <thead>
          <tr>
              <th>Name, for personal purposes</th>
              <th>Subject</th>
              <th>Form Name</th>
              <th>Edit</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>Send mail to user</td>
              <td>[name_surname] has responded to your request</td>
              <td>Live Helper Chat</td>
              <td>
              <a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
              <td>Support request from user</td>
              <td>name country department Support request from user</td>
              <td>  </td>
              <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
              <td>User mail for himself</td>
              <td>Chat transcript</td>
              <td>Live Helper Chat</td>
              <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>New chat request</td>
            <td>New chat request</td>
            <td>Live Helper Chat</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>Chat was closed</td>
            <td>Chat was closed</td>
            <td>Live Helper Chat</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>New FAQ question</td>
            <td>New FAQ question</td>
            <td>Live Helper Chat</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>New unread message</td>
            <td>New unread message</td>
            <td>Live Helper Chat</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>Filled form</td>
            <td>Filled form - [form_name]</td>
            <td>MCFC</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>Chat was accepted</td>
            <td>Chat was accepted [[chat_id]]</td>
            <td>Live Helper Chat</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>Permission request</td>
            <td>Permission request from [user]</td>
            <td>Live Helper Chat</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>
          <tr>
            <td>You have unread messages</td>
            <td>Operator has answered to your request</td>
            <td>Live Helper Chat</td>
            <td><a href="/setting/edittemp">Edit</a></td>
          </tr>

          </tbody>
      </table>
  </div>
</div>
</div>