<div class="md-card">
    <div class="md-card-content">
        <form action="/setting/newinv" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10" style="min-height: 274px;">
                    
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div>
                                    <h3> Pro active chat invitations </h3>
                                </div>                                
                            </div>
                        </div>
                    </div>
                <table class="uk-table">
                  <thead>
                      <tr class="uk-table-middle">
                          <td>
                              <span class="uk-text-large">Name for personal purposes</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Pageviews</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Requires e-mail</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Requires name</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Show on mobile</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Requires phone</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Matched times</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Disabled</span><br>
                          </td>
                          <td>
                              <span class="uk-text-large">Apply HTML invitation only to mobile devices</span><br>
                          </td>
                          <td>
                              <div class="uk-grid uk-margin-medium-top">
                                  <div class="uk-width-1-1">
  
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="uk-grid uk-margin-medium-top">
                                  <div class="uk-width-1-1">
  
                                  </div>
                              </div>
                          </td>
                      </tr>
                      
                      
                  </thead>
                  <tr class="uk-table-middle">
                      <td>
                          <span class="uk-text-large">My invitation, 20 secound on page, or 2 page revie</span><br>
                      </td>
                      <td>
                          <span class="uk-text-large">2</span><br>
                      </td>
                      <td>
                          <span class="uk-text-large">1</span><br>
                      </td>
                      <td>
                          <span class="uk-text-large">0</span><br>
                      </td>
                      <td>
                          <span class="uk-text-large">0</span><br>
                      </td>
                      <td>
                          <span class="uk-text-large">0</span><br>
                      </td>
                      <td>
                          <span class="uk-text-large">0</span><br>
                      </td>
                      <td>
                          <span class="uk-text-large">0</span><br>
                      </td>
                      <td>
                          <div class="uk-grid uk-margin-medium-top">
                              <div class="uk-width-1-1">

                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="uk-grid uk-margin-medium-top">
                                <div class="uk-width-1-1">
                                    <p class="md-btn"><a href = "/setting/newinv">Edit</a></p>
                                    
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="uk-grid uk-margin-medium-top">
                                  <div class="uk-width-1-1">
                                      <p class="md-btn"><a href = "#">Delete</a></p>
                                      
                                  </div>
                              </div>
                          </td>
                  </tr>
                </table>       
                </div>
                
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <button type="submit" class="md-btn md-btn-primary">New</button>
                    
                </div>
            </div>
        </form>
        
    </div>
  </div>