<div class="md-card">
    <div class="md-card-content">
        <form action="/setting/uploadfile" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10">
                    <h1>List of files</h1>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <select id="d_form_select_country__0" required="">
                                    <option value="">Select user...</option>
                                    <option value="a">Select user</option>
                                    <option value="b">Admin</option>
                                </select>
                                <button type="submit" href="#" class="md-btn md-btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="icheckbox_md"><input name="checkbox_demo_mercury" id="checkbox_demo_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                 <label for="checkbox_demo_1" class="inline-label">Only visitors files</label>
                            </div>
                        </div> 
                        <div class="uk-width-1-2">
                            <div class="parsley-row">
                                <div class="icheckbox_md"><input name="checkbox_demo_mercury" id="checkbox_demo_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                <label for="checkbox_demo_1" class="inline-label">Only persistent</label>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Chat</th>
                            <th>Persistent</th>
                            <th>Upload name</th>
                            <th>File Size</th>
                            <th>Extenstion</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        
                        
                    </table>
                </div>
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <button type="submit" href="/setting/uploadfile" class="md-btn md-btn-primary">Upload a file</button>
                </div>
            </div>
        </form>
        
    </div>
</div>