<div class="md-card">
    <div class="md-card-content">
        <form action="" data-parsley-validate="" novalidate="">
            <div data-dynamic-fields="field_template_a" dynamic-fields-counter="0">
            <div class="uk-grid uk-grid-medium form_section" data-uk-grid-match="">
                <div class="uk-width-9-10" style="min-height: 274px;">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label><h1>Edit - E-mail templates</h1></label><br>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Name, for personal purposes *</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text" value="Send mail to user"><span class="md-input-bar "></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Subject</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text" value="{name_surname} has responded to your request"><span class="md-input-bar "></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <span class="icheck-inline">
                                    <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                    <label for="checkbox_demo_inline_1" class="inline-label">Allow user to change the subjact</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Front name</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text" value="Live helper chat"><span class="md-input-bar "></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <span class="icheck-inline">
                                    <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                    <label for="checkbox_demo_inline_1" class="inline-label">Allow to change from name</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>From e-mail</label>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <span class="icheck-inline">
                                    <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                    <label for="checkbox_demo_inline_1" class="inline-label">Alllow to change from email</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <span class="icheck-inline">
                                    <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                    <label for="checkbox_demo_inline_1" class="inline-label">Use user e-mail as from address</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Replay to</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <span class="icheck-inline">
                                    <div class="icheckbox_md"><input name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                                    <label for="checkbox_demo_inline_1" class="inline-label">Allow to change replay e-mail</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Recipient email, this is used if the application could not determine who should receive an email.</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>BCC recipients, can be separated by comma.</label><br>
                                  <input class="md-input" name="d_form_company__0" required="" type="text"><span class="md-input-bar "></span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="parsley-row">
                                <div class="md-input-wrapper"><label>Content</label>
                                  <textarea class="md-input" name="d_form_company__0" required="" type="text" style="min-height: 150px;"></textarea>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1">
                    <div data-uk-button-radio="{target:'.md-btn'}">
                        <button class="md-btn md-btn-wave waves-effect waves-button">Save</button>
                        <button class="md-btn md-btn-wave waves-effect waves-button">Update</button>
                        <button class="md-btn md-btn-wave waves-effect waves-button">Cancel</button>
                    </div>                </div>
            </div>
        </form>
    </div>
</div>